<section class="hero">
    <div class="hero__background-container"></div>
    <div class="hero__content">
        <h1 class="hero__header">Welcome to Share Gists</h1>
        <h3 class="hero__subheader">Let's share your code snippets</h3>
        <a href="/auth/google" class="btn btn-primary">Login with Google <i class="ion-social-googleplus align-icon"></i></a>
    </div>
</section>